.idea/
.vscode/
__pycache__/
.tox/
.coverage
.coverage.*
htmlcov/
docs/_build/
dist/
venv/
.env
static/original_image/
static/filter_image/
photo-booth.zip
filter/face_acne
filter/.DS_Store
filter/pretrained_model